@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff") format("woff"),
         url("../fonts/Nunito-Regular.ttf") format("ttf");
 }

body {
  margin: 0;

  font-family: "Nunito";
  font-weight: bold;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.img {
  max-width: 100%;
  height: auto;
}

.header {
  margin-bottom: 2em;

  background: #F3F3F3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;

}

.menu{
  text-align: center;
}

.menu__item {
  margin-bottom: 10px;
}

.menu__link {
  font-size: 20px;
}

.post {
  max-width: 360px;
  margin-bottom: 2em;
}

.post__wrap {
  position: relative;
}

.post__label {
  position: absolute;
  top: 15px;
  right: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 20px;

  font-size: 10px;

  background-color: #E6FE53;
  border-radius: 40px;
}

.post__label_color_red {
  background-color: #FE5353;
}

.post__title {
  margin-top: 12px;
  margin-bottom: 9px;

  font-size: 26px;
  line-height: 35px;
}

.post__desc {
  margin-top: 0;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 22px;

  color: #717171;
}

.post__link {
  font-size: 16px;
  line-height: 22px;

  color: #F58220;
}

.post__link::after {
  content: url('../img/arrow.svg');
  position: relative;
  top: 1px;
  margin-left: 6px;
}

.footer {
  display: flex;
  align-items: center;
  height: 200px;

  background: #F3F3F3;
}

.footer .container {
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-bottom: 18px;
}

.socials__link {
  display: flex;
  align-items: center;

  color: #727272;
}

.socials__item:last-child {
  margin-bottom: 0;
}

.socials__link-text {
  margin-left: 9px;
}

.socials__link:hover .facebook{
  fill: #1877f2;
}

.socials__link:hover .twitter{
  fill: #1da1f2;
}

.socials__link:hover .linkedin{
  fill: #006097;
}

@media (min-width: 576px) {
  .header__wrap {
    justify-content: space-between;
    height: 100px;
    padding-bottom: 0;
    flex-direction: row;
    align-items: center;
  }

  .nav {
    flex-grow: 1;
    margin-left: 137px;
  }

  .menu{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__item {
    margin-bottom: 0;
  }

  .logo {
    position: absolute;
    left: 16px;
  }
}

@media (min-width: 768px) {
  .header__wrap {
    justify-content: center;
  }

  .logo {
    left: auto;
  }

  .nav {
    margin-left: 0;
  }

  .menu{
    justify-content: flex-start;
  }

  .menu__item:first-child, .menu__item:nth-child(4) {
    margin-right: 34px;
  }

  .fill {
    flex-grow: 1;
  }

  .post {
    margin-bottom: 0;
  }

  .footer {
    margin-top: 77px;
  }

  .footer .container {
    display: block;
  }
}

@media (min-width: 992px) {
  .header {
    margin-bottom: 59px;
  }
}